<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/assets/datepicker/daterangepicker.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/assets/bootstrap5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<div id="app-sidebar">
    <div class="d-flex justify-content-end d-md-none">
        <span class="close-icon close-sidebar"></span>
    </div>
    <div class="login-user d-flex align-items-center mb-4 mt-2 position-relative">
        <div class="d-inline-flex align-items-center dropdown-arrow toggle-btn w-100">
            <div class="user-img">
                <img src="/assets/images/Achraf.svg" alt="" >
            </div>
            <div class="user-info">
                <h4>Achraf</h4>
            </div>
        </div>
        <div class="user-account-menu toggle-dropdown">
            <ul class="list-unstyled m-0">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>

    <nav class="main-menu mb-4">
        <ul>
            <li class="nav-icon-dashboard active"><a href="#">Dashboard</a></li>
            <li class="nav-icon-documents"><a href="quotations.html">Quotations</a></li>
            <li class="nav-icon-documents"><a href="templates.html">Templates</a></li>
            <li class="nav-icon-projects"><a href="#">Projects</a></li>
            <li class="nav-icon-clients"><a href="clients.html">Clients</a></li>
        </ul>
    </nav>
    <div class="logo mt-auto">
        <img src="/assets/images/DL-logo.svg" alt="Logo" />
    </div>
    <div class="copyright pt-3">&copy; Digital Lifestyle 2023. All rights reserved.</div>
</div>